.student-cnt{
    width: 500px;
    background-color: #DDD;
    padding: 30px;
    border: 1px solid orange;

}
.student-cnt h1{
    text-align: center;
    color: brown;
}
.student-cnt ul{
    background-color: orange;
    padding: 10px;
    list-style: none;
    border-radius: 10px;
}
.student-cnt ul li{
    padding: 10px;
    margin: 5px 0px;
    background-color: rgb(221, 127, 92);
}
.student-cnt ul li button{
    width: 100px;
    padding: 7px;
    margin-left: 20px;
    background-color: red;
    color: white;
    border:1px solid yellow;
    border-radius: 5px;
    cursor: pointer;

}