.todo-cnt{
    background-color: #DDD;
    padding: 30px;
    border: 1px solid orange;
    width: 400px;
    
}
.todo-cnt h1{
    text-align: center;
}
.input-cnt input{
    width: 73%;
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
}
.input-cnt button{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: orange;
    color: #000;
}
.list-cnt{
    padding: 0;
    margin: 0;
    list-style: none;
}
.list-cnt li{
    background-color: #f9f9f9;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px 0px;
    align-items: center;

}
.list-cnt li button{
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}
.edit-btn{
    background-color: blue !important;
    padding: 10px !important;
    margin-left: 10px;
}
