.event_cnt{
    width: 300px;
    background-color: #DDD;
    padding: 30px;
    border: 1px solid orange;
    text-align: center;
}
.event_cnt button{
    padding: 10px;
    background-color: orangered;
    border: none;
    border-radius: 5px;
    color: #000;
    margin-right: 10px;
    cursor: pointer;
}