.course-cnt{
    width: 300px;
    background-color: #DDD;
    padding: 30px;
    border: 1px solid orange;
    border-radius: 10px;
    text-align: center;

}
.course-cnt button{
    cursor: pointer;
    padding: 10px;
    background-color: #007bff;
    border: none;
    width: 100px;
    border-radius: 5px;
}
.course-cnt button:hover{
    background-color: #ff9900;
}