.CounterApp_cnt{
    width: 300px;
    padding: 30px;
    background-color: #DDDDDD;
    border: 1px solid orange;
    text-align: center;
}
.Inc_btn{
    padding:10px;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.Dec_btn{
    padding:10px;
    background-color:blue;
    color: #fff;
    border: none;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.Reset_btn{
    padding:10px;
    background-color:red;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    
}